.navbar {
	display: flex;
	justify-content: space-between;
	padding-inline: 13.5em;
}

.navbar h2 {
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
}

.right {
	display:flex;
	justify-content: flex-end;
}

.works {
  margin-top: 1.6em;
	padding-right: 2em;
	position: relative;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.works button {
  background-color: #130f40;
  color: #ffffff;
  padding: 0.5rem 2.2rem;
  border-radius: 5% 5%;
  border-color: #130f40;
  cursor: pointer;
}

@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(2px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(2px);
  }
  100%{
    transform: translateY(0px);
  }
}
